<footer>
  <p>
    MIT License | <a
      rel="nofollow noopener noreferrer" target="_blank"
      href="https://github.com/rootEnginear/why-is-this-a-checkmate">GitHub
      Repository</a><br>
    <small>
      Copyright &copy; <span
        onload="this.innerText = new Date().getFullYear()">2022</span>
      <a rel="nofollow noopener noreferrer" target="_blank"
        href="https://github.com/rootEnginear">rootEnginear</a> All right reserved.
    </small>
  </p>
</footer>